<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}Eventseiten.ch</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/preloader.css">
  <link rel="stylesheet" href="/css/radial-menu.css">
</head>
<body>
  {% include "components/preloader.njk" %}
  {% include "components/header.njk" %}
  {{ content | safe }}
</body>
</html> 