---
layout: layouts/base.njk
title: Home
---

{% include "components/hero.njk" %}
{% include "components/portfolio-showcase.njk" %}
{% include "components/process.njk" %}
{% include "components/integrated-section.njk" %}
{% include "components/footer.njk" %}

