---
layout: layouts/base.njk
title: Home
---

{% include "components/home/hero.njk" %}
{% include "components/home/portfolio-showcase.njk" %}
{% include "components/home/process.njk" %}
{% include "components/home/integrated-section.njk" %}

