---
layout: layouts/base.njk
title: Konferenzen & Kongresse | Eventseiten.ch
description: Professionelle Webseiten für Konferenzen & Kongresse - Teilnehmerregistrierung, Sponsorenpräsentation und digitale Event-Verwaltung
permalink: "/konferenzen-kongresse/"
---

<main>
  {% include "components/inner-page-hero.njk" %}
  {% include "components/konferenzen-benefits.njk" %}
  {% include "components/konferenzen-content.njk" %}
  {% include "components/testimonials-section.njk" %}
  {# Other sections will be added here as components #}
</main> 