---
layout: layouts/base.njk
title: Messen & Ausstellungen | Eventseiten.ch
description: Professionelle Webseiten für Messen & Ausstellungen - Teilnehmerregistrierung, Sponsorenpräsentation und digitale Event-Verwaltung
permalink: "/messen-ausstellungen/"
---

<main>
  {% include "components/messen-ausstellungen/hero.njk" %}
  {% include "components/messen-ausstellungen/benefits.njk" %}
  {% include "components/messen-ausstellungen/content.njk" %}
  {% include "components/messen-ausstellungen/testimonials-section.njk" %}
  {% include "components/messen-ausstellungen/pricing-cta-section.njk" %}
  {# Other sections will be added here as components #}
</main> 